name: 2vault-Release
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go

      - uses: actions/checkout@v2
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Set version env
        run: echo 'APP_VERSION='$(git describe --tags --always) >> $GITHUB_ENV

      - name: Set build env
        run: echo 'APP_BUILD='$(date +%FT%T%z) >> $GITHUB_ENV

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test with Coverage
        run: go test -v  -coverprofile='coverage.txt' -covermode=atomic ./...

      - name: Upload Codecov
        uses: codecov/codecov-action@v1.0.14
        if: success()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@2.11
        env:
          GIT_VERSION: ${{ env.APP_VERSION }}
          GIT_BUILD: ${{ env.APP_BUILD }}
        with:
          name: evilacid/2vault_backend
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: Dockerfile
          tag_names: true
          buildargs: GIT_VERSION,GIT_BUILD